/*
 * Theme definitions
 */

$themes: (
	light: (
		colorPrimary: $color-purple-1,
		colorSecondayr: $color-purple-2,
		colorBackground: $color-white-1,
		colorFontBody: $color-grey-1,
	),
	dark: (
		colorPrimary: $color-white-1,
		colorSecondary: $color-white-2,
		colorBackground: $color-grey-1,
		colorFontBody: $color-white-1,
	),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
	@each $theme, $map in $themes {
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
