// @import './_variables.scss';
@import './_themes.scss';

body {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	span,
	a {
		font-family: Open Sans;

		@include themify($themes) {
			color: themed('colorFontBody');
		}
	}
}

.logo-font {
	font-family: 'Pacifico';
	// color: $colour-purple-1;

	@include themify($themes) {
		color: themed('colorPrimary');
	}
}

.purple-1 {
	// color: $colour-purple-1;
	@include themify($themes) {
		color: themed('colorPrimary');
	}
}
.purple-2 {
	// color: $colour-purple-2;

	@include themify($themes) {
		color: themed('colorSecondary');
	}
}
