// @import './_variables.scss';
@import './_themes.scss';

body {
	font-family: Open Sans;
}

.logo-font {
	font-family: 'Pacifico';
	// color: $colour-purple-1;

	@include themify($themes) {
		color: themed('colorPurple1');
	}
}

.purple-1 {
	// color: $colour-purple-1;
	@include themify($themes) {
		color: themed('colorPurple1');
	}
}
.purple-2 {
	// color: $colour-purple-2;

	@include themify($themes) {
		color: themed('colorPurple2');
	}
}
