// TODO: define colours and sizes here
// brand colours

// light theme specific variables
$light__colour-purple-1: #6f73d2;
$light__colour-purple-2: #696cc6;

// dark theme specific variables
$dark__colour-purple-1: #000000;
$dark__colour-purple-2: #696cc6;
