// TODO: define colours and sizes here
// brand colours
$color-white-1: #ffffff;
$color-white-2: #fff4ff;

$color-grey-1: #02182b;
$color-grey-2: #1b1f3b;

$color-purple-1: #6f73d2;
$color-purple-2: #696cc6;
