@import-normalize; /* bring in normalize.css styles */
@import 'styles/_variables.scss';
@import 'styles/_helpers.scss';
@import 'styles/_typography.scss';
@import 'styles/_overrides.scss';
@import 'styles/_themes.scss';

// manual assignment of background colours
body {
	&.theme-light {
		background: $color-white-1;
		color: $color-grey-1;
	}
	&.theme-dark {
		background: $color-grey-1;
		color: $color-white-1;
	}
}

.top-navigation.ui.secondary.menu {
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	z-index: 2;

	@include themify($themes) {
		background-color: themed('colorBackground');
	}

	.logo {
		font-size: 20px;
		padding-left: 15px;
		@include themify($themes) {
			color: themed('colorPrimary');
		}

		position: relative;
		vertical-align: middle;
		line-height: 1;
		text-decoration: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-box-flex: 0;

		box-shadow: none;
		border: none;
		margin: 0 0.35714286em;
		background: 0 0;
		align-self: center;
	}

	.user-menu.menu {
		margin-top: 0;
	}
}
