@import-normalize; /* bring in normalize.css styles */
@import 'styles/_variables.scss';
@import 'styles/_helpers.scss';
@import 'styles/_typography.scss';

.top-navigation.ui.secondary.menu {
	position: fixed;
	width: 100%;
	padding-top: 15px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: white;
	z-index: 2;

	.user-menu.menu {
		margin-top: 0;
	}
}
