@import '../../styles/_themes.scss';

.task-card.ui.card {
	width: auto;
}

.task-form {
	position: sticky;
	top: 70px;
	z-index: 1;

	@include themify($themes) {
		background-color: rgba(themed('colorBackground'), 0.5);
	}
}
